.utilRow {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
}

#summaryLabel {
    width: 190px;
    margin-left: auto;
    margin-right: 0;
    padding: 1%;
    background-color: aquamarine;
    text-decoration: underline;

    text-decoration-color: transparent;
    transition: text-decoration-color .3s;
    user-select: none;
}

#summaryLabel:hover {
    text-decoration-color:rgb(0, 0, 100);
    transition: text-decoration-color .5s;
}

.filterForm-collapse {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;

    max-height: 0;
    overflow: hidden;
    transition: all .6s ease;
}

.filterForm-visible {
    max-height: 300px;
    overflow: hidden;
    transition: all .6s ease;
}


@media (max-width: 600px) {
    .filterForm-visible {
        max-height: 200px;
    }
}