th, thead {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
    background-color: inherit;
    position: sticky;
    top: 0;
}

td {
    padding-bottom: 1em;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.tableContainer {
    height: 740px;
    overflow-y: auto;
    margin-top: 1%;
    margin-bottom: 2%;
}

.recordTable {
    width: 100%;
    background-color: azure;
    border-collapse: collapse;
}

.smallColumn {
    width: 10%;
}

.midColumn {
    width: 20%;
}

.bigColumn {
    width: 30%;
}

.moduleHead, .gradeHead { transition: .3s; }

.moduleHead:hover, .gradeHead:hover{
    text-shadow: 4px 4px 4px rgb(180, 180, 180);
    transition: .3s;
}

.moduleLink {
    text-decoration: none;
    color: inherit;
}