form {
    width: max-content;
    height: max-content;
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 23px;
    background-color: bisque;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

form label { text-align: left; }
form label:after { content: ":"; }

label {height: auto;}