h3 {
  margin: 12px 0px;
  padding: 0px 8px;
}

.module-card {
  width: 180px;
  height: 48px;
  line-height: 48px;
  margin: 3px;
  font-size: 16px;
  display: flex;
  border: 2px solid black;
  border-radius: 24px;
  background-color: rgb(29, 250, 184);
  user-select: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.module-card:hover {
  background-color: rgb(82, 151, 255);
  transition: all 0.5s ease-out;
}

.module-code {
  width: 140px;
  margin: 0;
  text-align: left;
  padding-left: 12px;
  padding-right: 0;
  border-right: 2px solid black;
}

.module-grade {
  width: 40px;
  margin: 0;
  text-align: left;
}