.modal-container {
  width: 400px;
  border: 3px solid red;
  box-shadow: 5px 5px 7px rgb(15, 125, 92);
  background-color: rgb(29, 250, 184);
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  transform: translate(250px, 25px)
}

.module-modal {
  font-size: 18px;
  font-weight: bold;
}

.modal-label {
  text-align: left;
  width: 100px;
  padding-right: 0;
  user-select: none;
}

.modal-value {
  text-align: left;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  margin-top: 5px;
  background: transparent;
  border: none;
  font-size: 20px;
}

.modal-close-button:hover {
  background: rgb(255, 255, 255);
}