#summaryModal {
    z-index: 2;
    background-color: rgba(31, 19, 66, 0.94);
    border: aqua 1px solid;
    color: antiquewhite;
    position: fixed;
    width: 700px;
    top: 50%;
    left: 50%;
    max-height: 700px;
    transform: translate(-50%, -50%);
    padding: 12px 0;
    overflow: auto;
}

.summary-close-button {
    color: white;
    font-size: 30px;
    background: transparent;
    border: none;
    position: absolute;
    top: 6px;
    right: 2px;
}

.close-button:hover {
    background: rgb(131, 119, 166);
}

.title {
    font-size: 42px;
    margin: 5px 0;
}

#cumulativeTable,
#gradeTable {
    font-size: 25px;
    margin: 1em auto;
    border-collapse: collapse;
}

.cumulativeHeader {
    border: 2px solid antiquewhite;
    text-decoration: none;
    padding: 10px 12px;
}

.cumulativeCell {
    border: 2px solid antiquewhite;
    padding: 8px 0;
}